# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/Makefile
/Makefile.in
/README
/TAGS
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/eclet
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/src/.deps/
/src/.dirstamp
/src/cli/.deps/
/src/cli/.dirstamp
/src/driver/.deps/
/src/driver/.dirstamp
/stamp-h1
/ylwrap
